body, html, .email-page {
  max-height: 100vh;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background-color: #f8f8f8;
}

.email-view {
  background-color: white;
  border-radius: 24px;
  padding: 16px;
  margin-right: 16px;
}

.count {
  text-align: right;
  float: right;
  display: block;
  font-family: sans-serif;
  color: #808080;
  padding-top: 3px;
  padding-right: 16px;
  font-size: 0.7em;
}

.email-page {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}

.inbox-list {
  width: 192px;
  min-width: 192px;
  margin-right: 32px;
  padding-left: 32px;
}

.inbox-list ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.inbox-list ul li {
  padding: 12px;
  margin-bottom: 3px;
  font-family: sans-serif;
  border-radius: 12px;
  cursor: pointer;
}

.box-count {
  text-align: right;
  float: right;
  padding-right: 16px;
  font-weight: 600;
}

.inbox-list ul li:hover {
  background-color: #d0d0d0;
}

.email-view, .email-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.email-body {
  flex-grow: 2;
  max-height: 100%;
  overflow: hidden;
}

.email-content {
  overflow-y: auto;
  margin-left: 32px;
  padding-right: 25%;
  padding-bottom: 32px;
  font-family: sans-serif;
  line-height: 1.5;
}

.email-header {
  margin-left: 32px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.profile-container > img {
  margin-right: 16px;
}

h1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.8em;
}

h2 {
  font-weight: 400;
  font-size: 1.0em;
}

h3 {
  font-weight: 300;
  font-size: 0.7em;
}

h2, h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: sans-serif;
}

.flex-img {
  padding: 4px;
  margin-right: 16px;
  width: 192px;
  height: 48px;
  display: inline;
  position: relative;
}

.flex-img img {
  width: 48px;
  height: auto;
}

input, input:focus {
  border: none;
  outline: none;
  font-size: 1.2em;
  width: calc(100% - 64px);
}

.search-input {
  display: inline;
  border-radius: 20px;
  padding: 4px;
  padding-left: 12px;
  width: 90%;
  min-width: 300px;
  max-width: 1024px;
  height: 36px;
  margin-top: 12px;
  display: flex;
  box-sizing: border-box;
}

.email-view {
  margin-top: 16px;
  position: relative;
}

.content-header {
  height: 24px;
  position: relative;
}

.content-header img {
  margin-right: 16px;
}

.break {
  background-color: #808080;
  width: 1px;
  height: 100%;
  display: inline-block;
  margin-right: 16px;
}

.text-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.search-input, .search-input > input {
  background-color: #e0e0f0;
}

li.selected {
  background-color: #e0e0f0;
}

