.webui-header {
  background-image: url("img/web4all-mod.png");
  background-repeat: no-repeat;
  height: 140px;
  position: relative;
  margin-bottom: 16px;
  padding-left: 16px;
  margin-left: 0;
  border-bottom: 2px solid rgb(255, 211, 90);
  max-width: 960px;
}

html, body  {
  margin: 0;
}

h1 {
  bottom: 4px;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  margin-left: 16px;
  color: rgb(255, 211, 90);
  font-size: 1.8em;
}

h2 {
  font-family: sans-serif;
}

.tablist {
  margin-left: 32px;
}

ul.tablist li {
  font-family: sans-serif;
  list-style: url("img/button.png");
  color: blue;
  text-decoration: underline;
  padding-bottom: 4px;
}

.webui-tablist {
  margin: 32px;
  position: relative;
}

.webui-tab {
  margin-left: 20px;
}

.webui-tab a {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  margin-right: 24px;
  text-decoration: none;
  vertical-align: bottom;
  color: black;
  z-index: 0;
  font-family: sans-serif;
  font-weight: 500;
}

.webui-tab a.active {
  color: white;
  font-weight: 800;
  z-index: 2;
}

.home-list {
  padding-left: 32px;
}

.webui-tab a::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(1.2, 1.2) perspective(.5em) rotateX(5deg);
  background-color: #E0E0E0;
  border-radius: 4px;
}

.webui-tab a.active::before {
  background-color: rgb(38, 48, 133);
}

.nav-divider {
  width: 100%;
  margin: 0;
  height: 6px;
  border: none;
  z-index: 2;
  position: absolute;
  left: 0;
  background-color: rgb(38, 48, 133);
}

table {
  border: 1px solid black;
  width: 100%;
  font-family: sans-serif;
  z-index: -2;
}

table th {
  padding-right: 64px;
  padding-left: 8px;
  padding-top: 16px;
  text-align: left;

  background-color: rgb(38, 48, 133);
  color: white;
}

td {
  border: 1px solid black;
  padding: 4px;
  margin: 0;
}

.admin-content {
  margin: 32px;

}

.student-enrolled {
  color: #00FF00;
}

.student-withdrawn {
  color: #FF0000;
}

body {
  position: relative;
}

td button {
  float: right;
  margin-right: 32px;
}

body, html {
  position: relative;
  min-height: 100vh;
}

body::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  min-height: 100%;
  z-index: 0;
  background-image: url("img/auth_watermark_tp_tint.png"), url("img/auth_watermark_tp_tint.png");
  background-size: 512px;
  opacity: 0.4;
  background-position-x: -128px;
  pointer-events: none;
}